.change-password {
  padding: 5rem;
  
  .text-bkg-box {
    margin: auto;

    h1 {
      margin-bottom: 2rem;
    }

    h3 {
      width: 265px;
      margin: 20px;
      height: 50px;
      line-height: 1.0rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    p {
      width: 363px;
      margin: 20px;
      vertical-align: middle;
    }

    .safety-note {
      color: var(--red-color);
      font-size: 1.5rem;
      margin: auto 10%;
    }

  }
}