.change-password {
  padding: 5rem;

  &.mobile {
    padding: 2rem;
  }
  
  .text-bkg-box {
    margin: auto;
    height: fit-content;
    width: fit-content;
    padding: 3rem;
    align-items: center;

    &.mobile {
      padding: 1rem;

      h1 {
        font-size: 40px;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    h1 {
      margin-bottom: 2rem;
      text-align: center;
    }

    form {
      width: auto;
      align-items: normal;

      tr {
        width: 100%;
      }

    }

    h3 {
      margin: 20px;
      line-height: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.mobile {
        margin: 20px 0;
      }
    }

    .input-box {
      margin: 20px;
      min-width: 0;
      width: min(100%, 270px);
      max-width: 100%;
      flex-shrink: 2;
      padding: 0;

      &.mobile {
        margin: 20px 0;
      }
    }

    p {
      width: 363px;
      margin: 20px;
      vertical-align: middle;
    }

    .warning {
      margin: auto;
      width: 550px;

      @media (max-width: 880px) {
        width: 70%;
      }
    }

  }
}