
.dashboard {
  
  .dashboard-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }

  .icon-plus {
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      svg {
        color: var(--hover-blue-color) !important;
      }
    }
  }

  input {
    padding: 5px;
    width: 15rem;
  }

  .filter-box {
    padding: 1rem 2rem;
  }
  

}

.item-card {
  border-radius: 20px !important;
  margin-top: 1.5rem;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: ease-in-out 0.2s;
  }

  .card-body {
    background-color: var(--light-blue-color);
    border: 1px solid black;
    border-radius: 0 0 20px 20px;
  }

  img {
    border-radius: 20px 20px 0 0;
  }

  p {
    margin-bottom: 0;
  }
  .card-subtitle {
    font-weight: 500;
  }
  .row {
    align-items: center;
  }
}

.item-card-long {
  border: 1px solid black;
  border-radius: 20px;
  height: 13rem;
  width: inherit;
  margin: auto !important;
  margin-top: 1.5rem !important;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: ease-in-out 0.2s;
  }

  img {
    border-radius: 20px 0 0 20px;
    object-fit: cover;
  }
  p {
    margin-bottom: 0;
  }
  .card-subtitle {
    font-weight: 500;
  }

}