.forgot-pwd{
    .background{
        text-align: center;
        justify-content: center;
        display: flex;
        background-image: url("../images/backgroundImage.png");
        background-repeat: repeat-y;
        min-height: var(--main-height);
        align-items: center;
    }
    
    .wrap{
        font-size: 30px;
        font-weight: bold;
        width: 150px;
        text-align: initial;
    }

    .text-bkg-box{
        justify-content: space-around;
    }
}