/* Any style here will be applied globally */

// global variables
:root {
  --blue-color: #0073e6;
  --light-blue-color: #e6f2ff;
  --dark-grey-color: #555555;
  --light-grey-color: #d9d9d9;
  --orange-color: #eb8f33;
  --red-color: #db2424;
  --green-color: #2faa26;
  --main-height: calc(100vh - 7rem);
}



