
/* Cannot directly use tag name such as h1 and div */

.header {
  background-color: var(--light-blue-color);
  color: var(--blue-color);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0rem 5rem 0rem 5rem;
  box-sizing: border-box;
  box-shadow: 0 0 5px var(--dark-grey-color);
}

.nav {
  display: block;
  height: fit-content;

  .button {
    height: var(--nav-height-offset);
    color: var(--blue-color);
    background-color: var(--light-blue-color);
    font-weight: bold;
    font-size: 1rem;
    border: 0;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: var(--blue-color);
      color: white;
    }
  }
}

.logo {
  height: 2rem;
  display: block;
}