.landing-page{

    .img-one{
        text-align: center;
        justify-content: center;
        display: flex;
        background-image: url("../images/landingPageImage2.png");
        background-repeat: no-repeat;
        min-height: var(--main-height);
        background-size: 100% 950px;
        align-items: center;
    }

    .img-two{
        text-align: center;
        justify-content: center;
        display: flex;
        background-image: url("../images/landingPageImage2.png");
        background-repeat: no-repeat;
        width: 50%;
        min-height: 520px;
        align-items: center;
    }

    .img-three{
        text-align: center;
        justify-content: center;
        display: flex;
        background-image: url("../images/landingPageImage3.png");
        align-items: center;
        background-repeat: no-repeat;
        width: 50%;
        min-height: 520px;
    }

    .intro-text{
        font-size: 40px;
        width: 90%;
    }

    .intro-box{
        display: flex;
        border-style: solid none solid none;
        padding: 1.5rem 5rem 1.5rem 5rem;
    }

    .flex-box{
        display: flex;
    }

    .text-box{
        width: 50%;
        height: auto;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: 40px;
        align-items: center;
    }

    .icon{
        background-image: url("../images/landingPageIcon.svg");
        width: 115px;
        height: 127px;
        justify-content: center;
        background-size: auto;
        background-repeat: no-repeat;
        display: block;
        margin: auto;
    }
}