// for login page
.login{
    .background{

        justify-content: center;
        display: flex;
        background-image: url("../images/backgroundImage.png");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: var(--main-height);
        align-items: center;
    }

    .errmsg{
        color: var(--red-color);
        font-size: 25px;
    }
}
