// for login page

.background{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-image: url("../images/backgroundImage.png");
}

.button{
    background-color: var(--blue-color);
    width: 290px;
    height: 106px;
    border-radius: 15px;
    color: var(--white-color);
    font-size: 48px;
    font-weight: bold;
    margin: 10px;
}