.stats-page {
  padding: 5rem;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-areas:
    "head head"
    "ch1 ch2"
    "ch3 bar";
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 576px) {
    padding: 3rem 2rem;
  }

  h1 {
    font-weight: bold;
    grid-area: head;
    margin-bottom: 2rem;
  }

  .chart-box {
    border: 2.5px solid var(--blue-color);
    border-radius: 15px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    
    @media (min-width: 1080px) {
      min-height: 575px;
    }

    .no-data-wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        // font-weight: bold;
        font-size: calc(1rem + 1.5vw);;
        color: var(--dark-grey-color);
        margin: 0;
      }
    }

    .pie-chart {
      margin: auto;
      width: 90%;
      height: 90%;
    }
  }

  .bar-box {
    grid-area: bar;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-around;

    h2 {
      font-weight: bold;
      margin: 1rem auto auto auto;
    }

    hr {
      width: 85%;
      margin: auto;
    }

    .no-data-wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        // font-weight: bold;
        font-size: calc((1rem + (1.5vw / 2)));;
        color: var(--dark-grey-color);
        margin: 0;
      }
    }

    .bar-plot {
      margin: 2rem auto;

      .plot-container
      {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
  }
}